.header-landing {
	/* background-image: url(./home_header_bg.jpg); */
	background-image: url(https://images.unsplash.com/photo-1521043388745-6c3cb22e8550?ixlib=rb-1.2.1&auto=format&fit=crop&w=1489&q=80);
	/* background: #3500D3; */
	/* background: #2f2fa2; */

	background-attachment: fixed;
	height: 100vh;
}
